{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ form_label(form.Nom,"Nom") }}
    {{ form_widget(form.Nom) }}

    {{ form_label(form.Prenom,"Prenom") }}
    {{ form_widget(form.Prenom) }}

    {{ form_label(form.Numerodetelephone,"Numéro de telephone") }}
    {{ form_widget(form.Numerodetelephone) }}

    {{ form_label(form.Permis,"Permis") }}
    {{ form_widget(form.Permis) }}

    {{ form_label(form.startat,"Date de debut ") }}
    {{ form_widget(form.startat) }}

    {{ form_label(form.endat,"Date de fin ") }}
    {{ form_widget(form.endat) }}

    {{ form_label(form.heuredebut,"Heure de debut") }}
    {{ form_widget(form.heuredebut) }}

    {{ form_label(form.heurefin,"Heure de fin") }}
    {{ form_widget(form.heurefin) }}

    {{ form_label(form.Voiture,"Voiture a louer ") }} <br/>
    {{ form_widget(form.Voiture) }}

    <button class="badge badge-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
