{% extends 'base2.html.twig' %}


{% block title %}Escapades disponibles {% endblock %}

{% block body %}
    <span id="t">
    <form>

    <div class="archivment-front">
        <h1> Nos Escapades: </h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
        <div class="room-caption">
            <th>Image</th>
            <th>Nom</th>
            <th>Prix/Dt</th>
            <th>Description</th>
            <th>Ville</th>
            <th></th>
        </div>
    </tr>
    </thead>
    <tbody>
    <div id='all'>
    {% for escapade in escapades %}

        <tr>
            <td><img src="{{ asset('uploads/images/' ~ escapade.image) }}"  </td>
            <td>{{ escapade.title }}</td>
            <td>{{ escapade.price }}</td>
            <td>{{ escapade.histoire }}</td>
            <td>{{ escapade.ville }}</td>


            <td>

                {# <a href="{{ path('escapade_edit', {'id_esc': escapade.id_esc}) }}"><label class="badge badge-warning">Modifier</label></a> #}

            </td>
            <td>
                <a href="{{ path('panier_favoris',{'id_esc': escapade.id_esc }) }}" class="badge badge-info" >favoris</a> </br>

            </td>

        </tr>

        </div>
    {% else %}
        <tr>
            <td colspan="6">Aucune Reservation Trouvée</td>
        </tr>
    {% endfor %}
    <div id="search" class="row">
            </div>
    {#  <input type="text" id="search" class="form-control" placeholder="Search"> </br>#}
     <input type="text" id="searchValue" class="form-control" placeholder="Search"> </br>
    <a href="{{ path('reserver') }}" class="btn select-btn" >Reserver mon escapade</a> </br>


    </tbody>
    </br>
    </table>
    </div>
    </br>
        <a href="{{ path('map') }}" class="btn select-btn"    >Nos zones d'activités</a> </br>
        </br></br></br>
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/605c4cac067c2605c0bc1334/1f1k8n1as';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
})();
</script>
        <!--End of Tawk.to Script-->
    </div>
    </form>

 </span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#searchValue").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */

                6

                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est
                    envoyée */
                    url : "{{ path('searchEscapade') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la
                    zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le
                    nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#all').hide();
                                $('#search').append(' <div class="col-xl-4 col-lg-4 col-md-6"> <div class="single-blog mb-40"><div class="blog-img mb-30"> <img src="uploads/images/'+ obj.image+'" alt=""> </div><div><div class="blog-cap-top d-flex justify-content-between mb-3"></div><div class="blog-cap-mid" style=" font-size: 1.5%;"><p><b> '+obj.title +'</b></br> <b> '+ obj.price +' </b></br> <b>  '+ obj.histoire +' dt/jour</b><b> '+ obj.ville +' </b></p></div></div></div></div> ');
                            });
                        }
                        else
                        {
                            $('#all').show();
                            $('#search').empty();
                            $('#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}