{% extends 'base.html.twig' %}

{% block title %}mes voitures{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.Matricule }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.Modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.Marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.Prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.Description }}</td>
            </tr>
            <tr>
                <th>Boite_MA</th>
                <td>{{ voiture.BoiteMA }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ voiture.Ville }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ voiture.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voiture_index') }}"> <label class="badge badge-info">back to list </label></a>

    <br>
    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}"> <label class="badge badge-warning"> edit</label></a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
